Flask==2.3.3
Werkzeug==2.3.7
google-api-python-client
google-auth
google-auth-oauthlib
qrcode[pil]==7.4.2
selenium==4.15.0
pillow==10.1.0
webdriver-manager==4.0.1
flask-socketio
pystray==0.19.5
psutil==5.9.6